body {
    background-color: #ffffff;
    color: #000000;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 16px;
    margin-top: 0;
  }
  
  p {
    margin-bottom: 10px;
  }
  